.git
.idea
*.code-workspace
node_modules
nbproject
.cache

# Sourcemaps
maps/

# npm package files
iobroker.*.tgz

Thumbs.db

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt

.dev-server
/admin/src/package-lock.json
/srcAdmin/package-lock.json
/srcAdmin/build
